
<!-- 
Custom nvbar color 
-->

<nav class="navbar navbar-custom fixed-top" >
  <div class="item"> 

      <a href="/" class="navbar-brand">Astianax H. López</a>
      <a target="_blank" href="https://github.com/Astianax"><%= image_tag("github.png", :alt => "github", :class => 'social' ) %> </a>           
      <a target="_blank" href="https://www.linkedin.com/in/astianaxlopez"><%= image_tag("linkedin.png", :alt => "linkedin", :class => 'social' ) %></a>
        
  </div>

      <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true"     aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
      </button>-->
<div class=""  id="navbarNav">
     <ul class="nav mr-auto justify-content-end" >
              <li class="nav-item active">
                  <a class="nav-link" href="#home">HOME</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#profile" >PROFILE</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">SERVICES</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#resume">RESUME</a>
              </li>
           <!--   <li class="nav-item">
                  <a class="nav-link" href="#">CLIENTS</a>
              </li>-->
               <li class="nav-item">
                  <a class="nav-link" href="#contact">CONTACT</a>
              </li>
          </ul>
  </div>
</nav>