 <br>
 <br>
  <section class="section tagline" id="contact" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">
 <br>
 <br>
 <br>
			<div class="container">

				<div class="row">

				

					<div class="col-md-9 headline info">
						<p class="contact">Get in touch</p>
    	
						I'm currently available for freelance work. Just shoot me an email or give me a call so we can talk about your project.
						
						<hr>
						<ul class="icon-list">
							<li><%= image_tag("phone.png", :alt => "phone", :class=>"icons") %><a href="tel:+18096722519">(809) 672 2519</a></li>
							<br>
							<li><%= image_tag("mail.png", :alt => "mail", :class=>"icons") %><a href="mailto:astianax.lopez@gmail.com">astianax.lopez@gmail.com</a></li>
						</ul>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>