<section id="profile" class="section">
<br>
<br>
<br>
	<div class="container">

				<div class="row">

					<div class="col-md-12 headline">
						<h2>Astianax H. López</h2>
						<p>Full stack developer</p>
					</div>

					<div class="col-md-4 col-sm-12">
					<div>
						<%= image_tag("me.jpg", :alt => "me") %>
						<h3 class="description">Who's Me?</h3>
					 </div>

						
					</div>

					<div class="col-md-8 col-sm-12">

						<div class="profile-widget">
							<h3>Skillset</h3>

							<h5>C# .Net</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
							</div>

							<h5>Oracle / SqlServer</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
							</div>
							<h5>HTML / CSS3 / SASS</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Javascript</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
							</div>

							<h5>Ruby On Rails</h5>
							<div class="skill-bar">
								<div class="skill-rate-on"></div>
								<div class="skill-rate-on"></div>
								<div class="skill-rate-off"></div>
								<div class="skill-rate-off"></div>
							</div>
						</div>

					</div><!-- .col-md-3 -->


					<div class="col-md-10 col-sm-12">
						<p>I'm a full stack web developer working mainly with <strong>C# .Net</strong>. I started playing with code when I was 16 and have come a long way. I enjoy challenges and regularly look into learning new technologies. I am currently working on improving my Ruby on Rails skills, and I am actively working for a companny and personal projects.</p>
					</div>



				</div><!-- .row -->



			</div><!-- .container -->
			
		</section>

		