<section id="resume" class="section animateme"
        data-when="enter"
        data-from="0.5"
        data-to="0"
        data-opacity="0"
        data-translatex="-200"
        data-rotatez="90">

			<div class="container">
				<br>
				<div class="row">

					<div class="col-md-12 headline">
						<h2>Resume</h2>
					</div>

				</div><!-- .row -->

				<div class="row resume-items clients-info"">

					<div class="col-md-3">
						<h3>Education</h3>
					</div>

					<div class="col-md-6 col-sm-8 resume-item">
						<h4>System Engineering</h4>
						Four course specialization. Acumulated grade: 3.9.
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place">
						<h4><i class="fa fa-suitcase"></i> Universidad Dominicano Americano (UNICDA) </h4>
						<i class="fa fa-calendar"></i> 2013 - 2017
					</div>
					<div class="col-md-3">
					</div>
					<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
						<h4>Software Development Technologis</h4>
						3.9 GPA, graduated Summa Cum Laude.
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place">
						<h4><i class="fa fa-suitcase"></i> Instituto Tecnológico de las Américas</h4>
						<i class="fa fa-calendar"></i> 2009 - 2012
					</div>

				</div><!-- .row -->

				

				<div class="row resume-items">

					<div class="col-md-3">
						<h3>Experience</h3>
					</div>

					<div class="col-md-6 col-sm-8 resume-item">
						<h4>Full Stack Developer</h4>
						<div class="resume-sub-job">
							<h5>Axesa</h5>
							Developing and giving maintenance to web internal systems
							<ul>
								<li>
									<i>Main technologies:</i> C# .Net, MVC, Bootstrap, JQuery, Css, HML5, Reporting Services, DB Oracle/SqlServer.
								</li>
								<li>
									<i>Website:</i><a href="http://axesa.com/es/#/"> Axesa.com</a>
								</li>
								
							</ul>
						</div>
						<div class="resume-sub-job">
							<h5>Digital Network</h5>
							Developing and giving maintenance to web internal systems
							<ul>
								<li>
									<i>Main technologies:</i> C# .Net, MVC, Bootstrap, JQuery, Css, HML5, Reporting Services, DB Oracle/SqlServer.
								</li>
								<li>
									<i>Website:</i><a href="http://axesadigitalnetwork.com/"> Digital Network</a>
								</li>
								
							</ul>
						</div>

						<hr class="hidden-xs">
					</div>


					<div class="col-md-3 col-sm-4 resume-place">
						<h4><i class="fa fa-suitcase"></i> Caribe Media</h4>
						<i class="fa fa-calendar"></i>  02 / 2014 - Present
					</div>

					<div class="col-md-3">
					</div>
						<div class="col-md-6 col-md-offset-3 col-sm-8 resume-item">
						<h4>Programmer Iv</h4>
						<div class="resume-sub-job">
							Perform functional analyses and implemented Requirements Management Plans and system documentations<ul>
								<li>
									<i>Main technologies:</i> C# .Net, MVC, Reporting Services, DB Oracle/SqlServer.
								</li>
							</ul>
						</div>
						<hr class="hidden-xs">
					</div>

					<div class="col-md-3 col-sm-4 resume-place">
						<h4><i class="fa fa-suitcase"></i>Claro Dominicana</h4>
						<i class="fa fa-calendar"></i> 11 / 2012 - 02 / 2014
					</div>



				</div><!-- .row -->


			</div><!-- .container -->


		</section>