 <div class="bigSpace"></div>
  <section id="services" class="callout">

        <div class="tagline">
        <div class="bigSpace"></div>
        </div>
          <div class="row">
         <div class="col-sm-4">
                  <div class="servicesBox">
                      <div class="servicesWebDesign">
                         <div class="servicesCircle">
                          <%= image_tag("designicon.png", :alt => "de",:id=>"designIcon", :class=>"fadeIn") %>   
                            <div class="servicesTitle">Code from scratch</div>    
                          </div>
                         </div>
                    <div class="text">
                      <p>I can build any type of web application you need from scratch. We will start with having a conversation about what you need to build and take it from there. </p>
                     </div>
                </div>
              </div>

              <div class="col-sm-4">
                  <div class="servicesBox">
                      <div class="servicesWebDesign">
                         <div class="servicesCircle">
                          <%= image_tag("designicon.png", :alt => "de",:id=>"designIcon", :class=>"fadeIn") %>   
                            <div class="servicesTitle">MOBILE APPs</div>      
                                    
                          </div>
                         </div>
                    <div class="text">
                      <p>I can build your Mobile App with Xamarin Technology from scratch providing you with a high quality product to start testing your market.</p>
                     </div>
                </div>
              </div>

              <div class="col-sm-4">
                 <div class="servicesBox">
                      <div class="servicesWebDesign">
                         <div class="servicesCircle">
                          <%= image_tag("designicon.png", :alt => "de",:id=>"designIcon", :class=>"fadeIn") %>   
                            <div class="servicesTitle">Web Hosting and Maintaines</div>      
                                   
                          </div>
                         </div>
                    <div class="text">
                      <p> Need a web hosting service or domain? Need to upgrade your platform or just make sure everything is still working correctly? I will be exiced to take care of  this for you. </p>
                     </div>
                  </div>
          </div>

</section>

